html{
	font-size: 14px;
}

body{
	background-color: #eee;
	font-family: serif;
	font-size: 1.4em;
}

a{
	color: #222;
	text-decoration: none;
}

h1,
h2{
	text-transform: uppercase;
}

header{
	line-height: 1.2em;
}

header p{
	-webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    margin-before:0.5em;
    margin-after:0.5em;
}

section{
	border-top: 1px solid #eee;
	line-height: 1.2em;
	margin-top: 2em;
	padding-top: 1em;
}

#page{
	background-color: #fff;
	max-width: 1200px;
	width: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 45px;
}

.experience-style{
	color: #222;
}

.resume-experience ol > li,
.resume-portfolio ol > li,
.resume-education ol > li{
	margin-bottom: 1.5em;
}